<!doctype html>
<html>
    <head>
    {% block head %}
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylez.css') }}">
    {% endblock %}
    </head>
    <body>
        <h1>Witam na mojej stronie domowej</h1>
        <img src="http://slavia-lechia.pl/sites/default/files/2020-02/lesniczy22.gif" alt="Obrazek Gajowego Maruchy" title="Gajowy"></img>

        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>